.dashboard {
  position: relative;
}
.card-content {
  width: 100%;
  height: 20vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.accounts,
.currency,
.transaction,
.balance {
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 2px 1px 5px var(--terty-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1vh 1vw;
}
.icon {
  font-size: 2rem;
}
.transaction-list-content {
  width: 100%;
  overflow-y: hidden;
  /* height: 68vh; */
}
.list-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1vw;
  background-color: whitesmoke;
  height: 7vh;
  gap: 1vw;
  margin-top: 2vh;
}
.list-header p:nth-child(1) {
  flex-basis: 15%;
}
.list-header p:nth-child(2),
.list-header p:nth-child(3) {
  flex-basis: 20%;
}
.list-header p:nth-child(4),
.list-header p:nth-child(5) {
  flex-basis: 19%;
}
.list-header p:nth-child(6) {
  flex-basis: 7%;
}
