.accounts-header {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--terty-color);
  padding: 5vh 1vw;
}
.accounts-header p {
  font-size: 1.2rem;
  font-weight: bolder;
}
.btn-add-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  color: var(--secondary-color);
  padding: 1vh 1vw;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}
.add-icon {
  font-size: 1.7rem;
}
.list-content {
  width: 100%;
  border: 1px solid;
  margin-block: 1vh;
  overflow-y: scroll;
}
