* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #001948;
  --secondary-color: #dfa408;
  --terty-color: #cecece;
  --black: #1f1f29;
  --white: #f5f5fa;
}
body {
  color: var(--black) !important;
  overflow: hidden;
  background-color: var(--white);
}

.children {
  position: relative;
  left: 16.5vw;
  top: 12vh;
  height: 86vh;
  width: 82vw;
  border-radius: 10px;
  padding: 1vh 1vw;
  background-color: white;
  box-shadow: 1px 1px 5px var(--terty-color);
}
