* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #001948;
  --secondary-color: #dfa408;
  --terty-color: #cecece;
  --black: #1f1f29;
  --white: #f5f5fa;
}
body {
  color: var(--black) !important;
  overflow: hidden;
}

.children {
  background: red;
  position: relative;
  left: 16.5vw;
  top: 12vh;
  height: 86vh;
  width: 82vw;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1vh 1vw;
}
.children::before,
.children::after {
  content: " ";
  position: absolute;
  width: 25vw;
  height: 25vw;
  background-color: var(--secondary-color);
  rotate: 25deg;
  z-index: -1 !important;
  box-shadow: 2px 2px 10px grey;
}
.children::before {
  top: -10vh;
  left: -5vw;
}
.children::after {
  bottom: -10vh;
  right: -5vw;
}
